[user]
	name = Josh Blancett
	email = joshblancett@gmail.com
[push]
	default = matching
[core]
	pager = 
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
